/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:ital,wght@1,200&display=swap');

/* Utilities */
body {
    font-family: 'Raleway', sans-serif;
    background-color: antiquewhite;
}

/* Header + navbar MILESTONE 1 */
.wrapper {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

navbar {
    height: 70px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 5px;
    color: black;
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Jumbo with cta MILESTONE 2*/

.jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 5%;
}

.jumbo .cta h1 {
    font-size: 70px;
}

.jumbo .cta .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-1,
.btn-2 {
    margin: 0 30px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: black;
    color: white;

}

.btn-1 a,
.btn-2 a {
    text-decoration: none;
    color: white;
}


.btn-2 a:hover,
.btn-1 a:hover {
    color: antiquewhite;
    font-weight: bolder;
}

/* Sections 1,2 MILESTONE 3*/

#section-1,
#section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    background-color: aliceblue;
    padding: 0 auto;
    margin: 20px auto;
    width: 100%;
}

#section-1 img,
#section-2 img {
    height: 40%;
    width: 40%;
    margin: 0 10px;
}

#section-1 .textfirst,
#section-2 .textsecond {
    margin: 10px auto;
}

#section-2 {
    flex-direction: row-reverse;
}

/* Section 3 MILESTONE 4 */

#section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#section-3 .multicards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#section-3 .card {
    border: 2px solid black;
    margin: 10px 10px;
    padding: 100px 10px;
    font-weight: bold;
}


/* Footer MILESTONE 5 */

footer{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.pagine ul{
    list-style: none;
    text-align: center;
}

.pagine ul li a{
    text-decoration: none;
    color:black;
    margin: 10px auto;
}

.links ul{
    list-style: none;
    text-align: center;
}

.links ul li a{
    text-decoration: none;
    color:black;
    margin: 10px auto;
}
footer .copyright{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
